plans/**
!plans/**/
!plans/**/AGENTS.md
src/context7--upstash-context7-mcp-3.2.1
.omo/
.local-store/
.DS_Store
.omc/
.serena/
data/**
!data/**/
!data/**/AGENTS.md
.env
.mcp.json
libraries/**
!libraries/**/
!libraries/**/AGENTS.md
